/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

body {
  padding: 32px 0;
  color: #56564f;
}

article {
  width: 640px;
  margin: 0 auto;
}

/*
////////////////////////////////////////
以下に自分なりのCSSを書いて読みやすくする
////////////////////////////////////////
*/


body {
  line-height: 1.6  
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px gray;
}

p {
  margin-bottom: 6px;
}

ol {
 list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ol, ul {
  margin-top: 16px;
  margin-left: 40px;
  margin-bottom: 16px; 
}

section, aside {
  margin-top: 40px;
}

blockquote {
  border-left: solid 4px gray;
  padding-left: 12px;
  color: gray;
}

img {
  display: block;
  width: 80%;
  margin: 20px auto 30px auto; 
}

form {
  margin-top: 24px;  
}

label {
  width: 130px;
  display: inline-block;
  text-align: right;
  font-weight: bold;  
  vertical-align: top;
  margin-right: 10px;
}

textarea, input[type="text"] {
  width: calc(100% - 150px);
  border-radius: 4px;
  outline-color: lightblue;
}

textarea {
  height: 8em;
}

.form-items__item {
  margin-bottom: 8px;
}

.form-action {
  text-align: center;  
}

input[type="submit"] {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  padding: 10px 40px 10px 40px;
  background-color: lightblue;
  border: none;
  border-radius: 8px;
}
